extends layout 

block content
    section.content-header
        h1
            | New Farm Category

    // Main content
    section.content  
        .row
            .col-md-12
                .box
                    .box-header(style="padding: 0")

                    .box-body
                        .row 
                            .col-md-12
                                a.btn.btn-default.btn.lg.pull-right(href="/admin/farms")
                                    .fa.fa-caret-left 
                                    |  Go Back 
                        .row 
                            .col-md-6.col-md-offset-3
                                h3 Create New Farm Category
                                br/
                                form(method="post" action="/admin/farms" encType="multipart/form-data")
                                    .form-group
                                        .row 
                                            .col-md-12     
                                                label Farm Name  
                                                input.form-control.input-lg(type="text" name="category_name")
                                    .form-group 
                                        .row 
                                            .col-md-12 
                                                label Description 
                                                textarea.form-control(name="about" rows="10")             
                                    .form-group 
                                        .row 
                                            .col-md-12
                                                label Model
                                                textarea.form-control(name="model" rows="10")    
                                    .form-group 
                                        .row 
                                            .col-md-12
                                                label Benefits 
                                                input.form-control.input-lg(type="text" name="benefit[]" placeholder="Benefit...")    
                                    .form-group 
                                        .row 
                                            .col-md-12 
                                                label Farm Photo 
                                                input.form-control.input.lg(type="file" name="portfolio_photo")
                                    .form-group.text-center 
                                        br/
                                        input.btn.btn-success.btn-lg(type="submit" value="Publish Farm")