extends layout 

block content
    section.content-header
        h1
            | New Investment Portfolios
        
    // Main content
    section.content  
        .row
            .col-md-12
                .box
                    .box-header(style="padding: 0")
                        
                    .box-body
                        .row 
                            .col-md-12
                                a.btn.btn-default.btn.lg.pull-right(href="/admin/portfolio")
                                    .fa.fa-caret-left 
                                    |  Go Back 
                        .row 
                            .col-md-6.col-md-offset-3
                                h3 Create New Investment Portfolio
                                br/
                                form(method="post" action="/admin/portfolio")
                                    .form-group
                                        .row 
                                            .col-md-12     
                                                label Investment Name  
                                                input.form-control.input-lg(type="text" name="investment_name")
                                    .form-group 
                                        .row 
                                            .col-md-12    
                                                label Country
                                                input.form-control.input-lg(type="text" name="country")
                                    .form-group 
                                        .row 
                                            .col-md-6 
                                                label Unit Cost (N)
                                                input.form-control.input-lg(type="text" name="unit_cost")
                                            .col-md-6 
                                                label Avaliable Units 
                                                input.form-control.input-lg(type="number" name="units")
                                    .form-group 
                                        .row 
                                            .col-md-6 
                                                label Investment Duration 
                                                input.form-control.input-lg(type="number" name="period" placeholder="Number of months...")
                                            .col-md-6 
                                                label ROI (In percentage)
                                                input.form-control.input-lg(type="number" name="roi" placeholder="In Percentage. Eg. 15%")            
                                    .form-group.text-center 
                                        br/
                                        input.btn.btn-success.btn-lg(type="submit" value="Publish Investment")