extends layout

block content 
    .container-fluid.feature
        .row.feature-text
            .col.text-center
                h1.mb-4.text-white INVEST IN FARMS….TRADE IN COMMODITIES
        .row
            .col(style="padding: 0")
                video(width="100%", autoPlay muted loop)
                    source(src="images/Tractor.mp4" type="video/mp4")

    .container-fluid.secondary-bg.pt-5(style="margin-top: -7px")  
        .container 
            .row
                .col-md-6.col-xs-12.mt-5.text-white
                    h2 About Us 
                    p Invest”N”farm is an innovative digital agritech crowdfunding platform focused on arable, pastoral farming and other agricultural operations in Africa. 
                    p We are registered in Nigeria as Invest”N”farm limited, RC:1607086. We believe strongly that Agriculture is one of the most secured and profitable businesses to invest in as we provide opportunities to everyone to engage in Agribusiness anytime and on the go by investing in farms and trading in commodities. 
                    p We make it very simple for our investors in Nigeria and all over the world to be able to invest in as little as possible and watch your investment grow. 
                    p Our investments are 100% safe and risk free as we are fully insured. Join us on this journey as we build the economy together and make you smile to the bank. Welcome to a world of great Agricultural experience with Invest”N”farm!
                    p Our agritech investment platform enables investors to invest through diverse creative investment models.

                .col-md-6.col-xs-12.text-end
                    img(src="images/partner.png" style="width: 100%")

    section.servicev2-sec.section-padding.section-bg
        .container
            .row
                .col-lg-12
                    .section-title-item.section-title-v2-item
                        h2.section-title
                            span.xs-title What we do
                            em Our
                            |  Goals
                        h3.hidden-title OUR GOALS

            .row
                .col-lg-9.wow.fadeInUp(data-wow-duration='1.5s' data-wow-delay='400ms' style='visibility: visible; animation-duration: 1.5s; animation-delay: 400ms; animation-name: fadeInUp;')
                    .row
                        .col-md-6
                            .single-services-item
                                span.lnr.lnr-dinner
                                h3.xs-service-title Food Production
                                p To contribute to the existing collaborative food production in Africa and enhance participation in the achievement of global food security.
                        .col-md-6
                            .single-services-item
                                span.lnr.lnr-leaf
                                h3.xs-service-title Empower Farmers
                                p To empower and improve farmer’s efficiency and income with the use of tech-based input.
                        .col-md-6
                            .single-services-item
                                span.lnr.lnr-chart-bars
                                h3.xs-service-title Economic Growth
                                p To be a source of economic growth and financial income for investors through a realistic return on their Investment.
                        .col-md-6
                            .single-services-item
                                span.lnr.lnr-briefcase
                                h3.xs-service-title Job Creation
                                p To contribute to job creation, strengthen food security for nations in Africa and encourage participation and investment in agriculture.
                .col-lg-3.align-self-center.wow.fadeInUp(data-wow-duration='1.5s' data-wow-delay='500ms' style='visibility: visible; animation-duration: 1.5s; animation-delay: 500ms; animation-name: fadeInUp;')
                    .why-choose-inner-img
                    img(src='/images/why-choose-us-inner.png' alt='')

    section.team-sec.section-padding
        .container
            .row
                .col-lg-12
                    .section-title-item.section-title-v2-item
                        h2.section-title
                            span.xs-title Our experts 
                            | Meet with our Team
                        h3.hidden-title experts
            .row
                .col-lg-3.col-sm-6
                    .single-team
                        .team-img
                            img(src='/images/Collins_Akalonu.jpg' alt='')
                            .team-social
                                a(href='#')
                                    i.fa.fa-facebook
                                a(href='#')
                                    i.fa.fa-twitter
                                a(href='#')
                                    i.fa.fa-google-plus
                                a(href='#')
                                    i.fa.fa-linkedin
                        h3 Collins Akalonu
                        p Product Owner
                .col-lg-3.col-sm-6
                    .single-team
                        .team-img
                            img(src='/images/Romana_Munyavi.jpg' alt='')
                            .team-social
                                a(href='#')
                                    i.fa.fa-facebook
                                a(href='#')
                                    i.fa.fa-twitter
                                a(href='#')
                                    i.fa.fa-google-plus
                                a(href='#')
                                    i.fa.fa-linkedin
                        h3 Romana Munyavi
                        p Digital Business Analyst
                .col-lg-3.col-sm-6
                    .single-team
                        .team-img
                            img(src='/images/Oluyemi_Olu_Adeniran.jpg' alt='')
                            .team-social
                                a(href='#')
                                    i.fa.fa-facebook
                                a(href='#')
                                    i.fa.fa-twitter
                                a(href='#')
                                    i.fa.fa-google-plus
                                a(href='#')
                                    i.fa.fa-linkedin
                        h3 Olu-Adeniran 
                        p Product Lead
                .col-lg-3.col-sm-6
                    .single-team
                        .team-img
                            img(src='/images/Roseline_Adekunle.jpg' alt='')
                            .team-social
                                a(href='#')
                                    i.fa.fa-facebook
                                a(href='#')
                                    i.fa.fa-twitter
                                a(href='#')
                                    i.fa.fa-google-plus
                                a(href='#')
                                    i.fa.fa-linkedin
                        h3 Roseline Adekunle
                        p 

    section.ready-to-contact.section-padding(style='background: url(./images/ready-to-contact.jpg) no-repeat center center /cover')
        .container
            .col-lg-8.offset-lg-2
                .ready-to-contact-content
                    h2 Are you ready to start investing?
                    p Sign up right away and choose from our carefully selected farm projects and invest, while we take care of your investments and profit
                    a.xs-btn.fill(href='/signup') SIGN UP
