extends layout 

block content
    section.banner-inner-sec(style="background-image:url('/images/faq-banner.jpg')")
        .banner-table
            .banner-table-cell
                .container
                    .banner-inner-content
                        h2.banner-inner-title FAQ
                        ul.xs-breadcumb

    section.xs-faq-sec.section-padding  
        .container
            .row
                .col-lg-8
                    .faq-content
                        .faq-content-item
                            h3.faq-title
                                span.light-text Frequently Asked
                                |  questions

                        #accordion.faq-item
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                        span.lnr.lnr-question-circle
                                        | Is InvestNfarm Registered?
                                #collapseOne.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p Yes, InvestNfarm is a registered with the CAC in Nigeria with registration number RC.1791394

                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse4' aria-expanded='true' aria-controls='collapse4')
                                        span.lnr.lnr-question-circle
                                        | How safe and secured is my investment?
                                #collapse4.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p All of our crops are well kept in a safe storage facility and our birds are well taken care of physically and medically by our experienced team of professionals. They are also kept in a Safe and Conducive Environment far away from predators and they are all insured.
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse5' aria-expanded='true' aria-controls='collapse5')
                                        span.lnr.lnr-question-circle
                                        | What is the minimum amount that I can invest?
                                #collapse5.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p An investment amount is stipulated for each product per unit with their ROI, please check the product in product portfolio and invest according to your interest.
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse6' aria-expanded='true' aria-controls='collapse6')
                                        span.lnr.lnr-question-circle
                                        | How do I invest?
                                #collapse6.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p You can connect with us on investnfarm.com. Signed up, log into your dashboard, explored through our portfolio and invest in any product that interest you.  We have a payment gateway integrated into your investor dashboard which aides investment journey and help investor  to manage their fund . Please be aware that we do not accept cash payment.
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse7' aria-expanded='true' aria-controls='collapse7')
                                        span.lnr.lnr-question-circle
                                        | How long does my investment take to mature?
                                #collapse7.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p All product investment in our portfolio varies in duration, this is from planting to harvesting and selling.  At the end of each product life circle the investor will receive their returns.
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse8' aria-expanded='true' aria-controls='collapse8')
                                        span.lnr.lnr-question-circle
                                        | How much is a unit and what does it cover?
                                #collapse8.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p For all our farm products, the unit price varies. The cover (ROI) is calculated and remitted to the investor in % depending on the product. Please check our portfolio to get more information on the unit price and its cover.
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse9' aria-expanded='true' aria-controls='collapse9')
                                        span.lnr.lnr-question-circle
                                        | How do I follow up on my Investment?
                                #collapse9.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p As an investor your investment is displayed on your dashboard, so you can monitor how your investment grows on a daily basis at any time and anywhere. We will also send you updates as requested by you at least once in  a month via email and text messages.
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse10' aria-expanded='true' aria-controls='collapse10')
                                        span.lnr.lnr-question-circle
                                        | How do I get my fund after Investment Maturity?
                                #collapse10.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p Profit from crops and animals sales are distributed to the investor after there are harvested or sold. The investor receives their returns into their wallet. After payment has been made into your wallet, you can withdraw funds into your bank account or roll it over into another investment. 
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse11' aria-expanded='true' aria-controls='collapse11')
                                        span.lnr.lnr-question-circle
                                        | Can I Terminate My Investment before Maturity?
                                #collapse11.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p In cases where our Investors no longer want to continue their partnership with us, and would require the invested money back before the Investment Maturity period, he/she must inform us 4 weeks before Investment Maturity. And only the Principal will be paid, forfeiting the returns. Please note admin charges may apply.
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse12' aria-expanded='true' aria-controls='collapse12')
                                        span.lnr.lnr-question-circle
                                        | How do I join?
                                #collapse12.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p Simply connect to investnfarm.com, create an account using the sign up, login into your dashboard, go through our product portfolio, select any product that interest you, and select number of the unit you are interested in, make a payment through the payment gateway on your dashboard and invest. Then we will get you started.                                                 
                .col-lg-4
                    .sidebar-widgets.faq-sidebar
                        .widget.widget-faq
                            form#xs-contact-form.xs-form(action='#' method='POST')
                                input#xs_contact_name.form-control(type='text' name='name' placeholder='Your name')
                                input#xs_contact_email.form-control(type='email' name='email' placeholder='Your email')
                                textarea#x_contact_massage.form-control.message-box(name='massage' placeholder='Your Question' cols='30' rows='10')
                                .xs-btn-wraper
                                    input#xs_contact_submit.xs-btn.sm-btn(type='submit' value='SEND QUESTION')


    section.ready-to-contact.section-padding(style='background: url(./images/ready-to-contact.jpg) no-repeat center center /cover')
        .container
            .col-lg-8.offset-lg-2
                .ready-to-contact-content
                    h2 Are you ready to start investing?
                    p Sign up right away and choose from our carefully selected farm projects and invest, while we take care of your investments and profit
                    a.xs-btn.fill(href='/signup') SIGN UP
