extends layout 

block content
    section.banner-inner-sec(style="background-image:url('/images/faq-banner.jpg')")
        .banner-table
            .banner-table-cell
                .container
                    .banner-inner-content
                        h2.banner-inner-title FAQ
                        ul.xs-breadcumb

    section.xs-faq-sec.section-padding  
        .container
            .row
                .col-lg-8
                    .faq-content
                        .faq-content-item
                            h3.faq-title
                                span.light-text Frequently Asked
                                |  questions

                        #accordion.faq-item
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                        span.lnr.lnr-question-circle
                                        | Is <i>investnfarm</i> A registered company?
                                #collapseOne.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p Yes, InvestNfarm is registered with the Corporate Affairs Commission (CAC) in Nigeria. Our registration number is RC.1791394.

                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse4' aria-expanded='true' aria-controls='collapse4')
                                        span.lnr.lnr-question-circle
                                        | How safe and secured is my investment?
                                #collapse4.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p Your investment is secured.Our crops are kept in a safe storage facility and our birds are well taken care-of by our experienced team of professionals. All our products are kept in a safe and conducive environment, keeping them far away from predators.
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse5' aria-expanded='true' aria-controls='collapse5')
                                        span.lnr.lnr-question-circle
                                        | What is the minimum amount that I can invest?
                                #collapse5.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p An investment amount per unit is stipulated for each product. All products also have the expected returns on investment (ROI) calculated in percentage on them. Please check the product in the product portfolio and invest according to your interest.
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse6' aria-expanded='true' aria-controls='collapse6')
                                        span.lnr.lnr-question-circle
                                        | How do I invest?
                                #collapse6.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p You can invest through our platform; just connect with us on <span class="text-green">investnfarm.com</span>. Sign up, log into your dashboard, explore through our product portfolio and invest in any product that interests you.
                                        p We also have a payment gateway integrated to your dashboard, which aids your investment journey and helps manage your  funds. Please be advised that we do not accept cash investments.
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse7' aria-expanded='true' aria-controls='collapse7')
                                        span.lnr.lnr-question-circle
                                        | How long does my investment take to mature?
                                #collapse7.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p All product investments in our portfolio vary in duration/timeline. The timeline is from planting to harvesting and selling; at the end of each product life cycle, the investor will receive their returns.
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse8' aria-expanded='true' aria-controls='collapse8')
                                        span.lnr.lnr-question-circle
                                        | How much is a unit and what does it cover?
                                #collapse8.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p The unit cost for all our farm products vary in price. The cover for your investment includes insurance and returns. Return on Investment (ROI) is calculated and remitted to the investor in % depending on the product. Please check our product portfolio to get more information on the unit cost and its cover.
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse9' aria-expanded='true' aria-controls='collapse9')
                                        span.lnr.lnr-question-circle
                                        | How do I follow up on my Investment?
                                #collapse9.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p As an investor, your investment is displayed on your dashboard.  You can monitor how your investment grows on a daily basis at any time and anywhere. We will also send you updates on your investment(s) as requested by you; at least once a month via email and text messages.
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse10' aria-expanded='true' aria-controls='collapse10')
                                        span.lnr.lnr-question-circle
                                        | How do I get my returns after my Investment Maturity?
                                #collapse10.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p Profits from crops and animal sales are distributed to the investor after they are harvested and sold. The investor receives their returns in their wallet. After payment has been made into your wallet, you can withdraw funds into your bank account or roll it over into another investment.
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse11' aria-expanded='true' aria-controls='collapse11')
                                        span.lnr.lnr-question-circle
                                        | Can I Terminate My Investment before Maturity?
                                #collapse11.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p In situations where our Investors no longer want to continue their partnership with us, and would require their invested money back before the Investment Maturity period, the investor must inform us at least four weeks before Investment Maturity. Please be aware that only the Principal will be paid and the returns will be forfeited. Please note that administrative charges may apply.
                            .faq-single-item
                                h4#headingOne
                                    button.btn.btn-link(data-toggle='collapse' data-target='#collapse12' aria-expanded='true' aria-controls='collapse12')
                                        span.lnr.lnr-question-circle
                                        | How do I join?
                                #collapse12.collapse(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p Simply visit us at investnfarm.com, create an account using the Sign Up, Login into your dashboard, go through our product portfolio, select any product that interests you, and select the number of the units you are interested in, make a payment through the payment gateway on your dashboard and invest. Then, you get started.                                                 
                .col-lg-4
                    .sidebar-widgets.faq-sidebar
                        .widget.widget-faq
                            form#contact-form.xs-form(action='#' method='POST')
                                input#xs_contact_name.form-control(type='text' name='sender_name' placeholder='Your name' required)
                                input#xs_contact_email.form-control(type='email' name='sender_email' placeholder='Your email' required)
                                textarea#x_contact_massage.form-control.message-box(name='message' placeholder='Your Question' cols='30' rows='10' required)
                                .alert.d-none
                                .xs-btn-wraper
                                    input#xs_contact_submit.xs-btn.sm-btn(type='submit' value='SEND QUESTION')


    section.ready-to-contact.section-padding(style='background: url(./images/ready-to-contact.jpg) no-repeat center center /cover')
        .container
            .col-lg-8.offset-lg-2
                .ready-to-contact-content
                    h2 Are you ready to start investing?
                    p Sign up right away and choose from our carefully selected farm projects and invest, while we take care of your investments and profit
                    a.xs-btn.fill(href='/signup') SIGN UP

block scriptBlock
    script.
        $(document).ready(function() {
            $("#contact-form").submit(function(e) {
                e.preventDefault();

                $.post('/send-email', $(this).serialize(), function(d) {
                    if (d.status.trim() === 'success') {
                        $(".alert").removeClass('d-none').addClass('alert-success').text('Thank you for writing us, your message has been received. You\'ll hear from us soon.')
                    } else {
                        $(".alert").removeClass('d-none').addClass('alert-danger').text('Error: Your message could\'t be delivered at this time, please try again later.');
                    }
                });
            });
        });
