extends layout

block content
    div.container-fluid.feature
        div.row.feature-text
            div.col.text-center
                h1.mb-4A DIGITAL PLATFORM FOR AGRIBUSINESS
                a.btn.btn-outline-success.bg-white(href="/contact", role="button") CONTACT US
                a.btn.btn-success(href="/signup") SIGN UP
        div.row
            div.col
                video(width="100%", autoPlay muted loop)
                    source(src="images/green_vid.mp4", type="video/mp4")

