doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title InvestNfarm - #{title}
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i' rel='stylesheet')
    link(rel='stylesheet' href='/stylesheets/fonts.css')
    link(rel='icon' type='image/png' href='/favicon.ico')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    link(rel='stylesheet' href='/style/fontawesome-min.css')
    link(rel='stylesheet' href='/style/bootstrap.min.css')
    link(rel='stylesheet' href='/style/xsIcon.css')
    link(rel='stylesheet' href='/style/iconmoon.css')
    link(rel='stylesheet' href='/style/linearicon.css')
    link(rel='stylesheet' href='/style/isotope.css')
    link(rel='stylesheet' href='/style/magnific-popup.css')
    link(rel='stylesheet' href='/style/owl.carousel.min.css')
    link(rel='stylesheet' href='/style/owl.theme.default.min.css')
    link(rel='stylesheet' href='/style/navigation.css')
    link(rel='stylesheet' href='/style/animate.css')
    link(rel='stylesheet' href='/style/style.css?v=2')
    link(rel='stylesheet' href='/style/responsive.css')

    block StylesBlock
//if lt IE 10
    p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/')
            | upgrade
            | your browser
        |  to improve your experience.
    a.cancel-preloader(href='') Cancel Preloader
section.xs-header-top
    .container
        .row
            .col-lg-6.col-md-8
                .header-top-info
                    ul
                        li
                            a(href="mailto:info@investnfarm.com")
                                i.icon.icon-envelope
                                | info@investnfarm.com
            .col-lg-6.align-self-center.col-md-4
                .header-top-social
                    ul
                        li
                            a(href='https://www.facebook.com/Investnfarm/')
                                i.fa.fa-facebook-f
                        li
                            a(href='https://twitter.com/investnfarm')
                                i.fa.fa-twitter
                        li
                            a(href='https://instagram.com/investnfarm/') 
                                i.fa.fa-instagram
                        li
                            a(href='https://www.linkedin.com/in/investnfarms/')
                                i.fa.fa-linkedin
                        li
                            a(href='https://www.youtube.com/channel/UCuPIKgxbSV-nmOixOjWdI_w')
                                i.fa.fa-youtube
section.xs-header-middle
    .container
        .row
            .col-md-3.align-self-center
                .logo
                    a(href='/')
                        img(src='/images/logo.png' alt='')
            .align-self-center.col-md-9.d-none.d-sm-none.d-md-block
                .header-middle-info.float-right
                    ul 
                        li
                            i.icon-number_1
                            label Reliable Agrictech Investment
                            p Service provider
header.xs-header-nav
    .container
        .row.menu-item
            .col-lg-12
                .row
                    nav#navigation1.navigation.header-nav.clearfix
                        .nav-header
                            .nav-toggle
                        .nav-menus-wrapper.clearfix
                            ul.nav-menu
                                li.active
                                    a(href='/') Home
                                li
                                    a(href='/about') About
                                li
                                    a(href='/projects') Products
                                li 
                                    a(href='/roi-cal') Calculate ROI
                                li 
                                    a(href='/faq') FAQ
                                li
                                    a(href='/contact') Contact
                                li  
                                    if user 
                                        a.btn.btn-success(href="/users/dashboard") 
                                            | My Dashboard 
                                    else
                                        a.btn.btn-success(href="/login") Login

                            .header-nav-right-info.align-to-right
                                label(data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="<br><p><a href='https://t.me/InvestNFarmUpdates' class='btn btn-success btn-block'><i class='fa fa-telegram'></i> Message on Telegram</a></p><p><a href='https://api.whatsapp.com/send?phone=+4407404387475' class='btn btn-success btn-block'><i class='fa fa-whatsapp'></i> Message on Whatsapp</a></p>")
                                    i.icon.icon-phone3
                                    a(href='#').text-white +44 740 438 7475


block content 

footer.xs-footer-sec
    .container
        .footer-top-item
            .xs-back-to-top
                a.BackTo(href='#')
                    i.fa.fa-angle-double-up
        .footer-item
            .row
                .col-md-3
                    .widgets
                        h3.widget-title InvestNfarm
                        ul
                            li
                                a(href='/') Home
                            li
                                a(href='/about') About Us
                            li
                                a(href='/projects') Products
                            li    
                                a(href='/contact') Contact  

                    .row 
                        .col.text-white.mt-3 
                            | #[strong RC. 1791394]
                .col-md-3
                    .widgets
                        h3.widget-title Help
                        ul.service-link
                            li
                                a(href='/terms-and-conditions') Terms & Conditions
                            li
                                a(href='/privacy-policy') Privacy Policy
                            li
                                a(href='/faq') FAQ

                .col-md-2
                    .widgets
                        h3.widget-title Social Media
                        ul
                            li
                                a(href='https://twitter.com/investnfarm')
                                    i.fa.fa-twitter &nbsp; &nbsp; 
                                    | Twitter
                            li
                                a(href='https://instagram.com/investnfarm/')
                                    i.fa.fa-instagram &nbsp; &nbsp; 
                                    | Instagram
                            li
                                a(href='https://www.facebook.com/Investnfarm/')
                                    i.fa.fa-facebook &nbsp; &nbsp;&nbsp;
                                    | Facebook
                            li 
                                a(href='https://www.linkedin.com/in/investnfarms/')
                                    i.fa.fa-linkedin &nbsp; &nbsp;
                                    | LinkedIn
                            li 
                                a(href='https://www.youtube.com/channel/UCuPIKgxbSV-nmOixOjWdI_w')
                                    i.fa.fa-youtube &nbsp; &nbsp;
                                    | Youtube
                .col-md-1
                .col-md-3
                    .widgets.pb-3
                        ul.footer-contact-list.mt-5
                            li
                                i.lnr.lnr-map-marker
                                | #[strong Visit our office]
                                br/ 7 Agoro Kessington Crescent, Festac Link Bridge, Amuwo Odofin, Lagos State, Nigeria
                            li
                                i.lnr.lnr-phone
                                a(href='tel:++4407404387475') +44 740 438 7475
                            li
                                i.lnr.lnr-envelope
                                a(href="mailto:info@investnfarm.com") info@investnfarm.com

        .copyright-content
            .row
                .col-md-6
                    p
                        | Copyright #{new Date().getFullYear()}, 
                        a(href='https://investnfarm.com') InvestNfarm
                        | . All
                        |  Rights Reserved.

script(data-cfasync='false' src='/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js')
script(src='/javascripts/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/jquery-mixtub.js')
script(src='/javascripts/jquery.magnific-popup.min.js')
script(src='/javascripts/owl.carousel.min.js')
script(src='/javascripts/navigation.js')
script(src='/javascripts/jquery.appear.min.js')
script(src='/javascripts/isotope.js')
script(src='/javascripts/wow.min.js')
script(src='/javascripts/main.js')

script. 
    $(function () {
        $('[data-toggle="popover"]').popover({
            html: true
        })
    })
block scriptBlock
