doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title InvestNFarm - #{title}
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    block styleBlock
  body
    header
        nav(class=["navbar navbar-expand-lg navbar-light"])
            div(class="container-fluid")
                a.navbar-brand(href="/") 
                    img(src="/images/logo.png", width="130px")
                button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav"
                    aria-controls="navbarNav", aria-expanded=false, aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                
                div(class=["collapse navbar-collapse float-right"])#navbarNav
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link.mx-3(aria-current="page" href="/") Home
                        li.nav-item
                            a.nav-link.mx-3(href="/about") About Us
                        li.nav-item
                            a.nav-link.mx-3(href="#") Investment Portfolio
                        li.nav-item
                            a.nav-link.mx-3(href="/investment/1/") Products
                        li.nav-item
                            a.nav-link.mx-3(href="#") Contact Us
                        li.nav-item
                            a.btn.btn-success.mx-3(href="/login") Login
    block content

    footer.primary-bg.py-4
        div.container
            .row.text-white
                div.col
                    p 497 Evergreen Rd. Roseville, CA 95673<br>+44 345 678 903
                div.col.text-end
                    i.fab.fa-instagram
                    i.fab.fa-twitter.mx-3
                    i.fab.fa-facebook-f

    script(src='/js/jquery.min.js')
    script(src="https://kit.fontawesome.com/8f93d1598d.js")
    script(src="/javascripts/bootstrap.bundle.min.js")  
    block scriptBlock              