extends layout 

block content
    div.container-fluid.primary-bg.text-white
        div.row
            div.col.text-center
                h1.pt-4 Login to Your Account
                p Choose from over 20 investment portfolios with high ROI
                p.title 
                    a(href="/signup") New Here? Sign up
        div.row 
            div.col
                .container
                    .row 
                        .col-md-6.col-sm-12.col-xs-12.mt-4
                            form(action="/login", method="post")
                                div.row
                                    div.col.mb-3.pe-md-4.ps-md-5
                                        input.form-control.form-control-lg(type="email", name="email", placeholder="Email" aria-label="Email")
                                div.row
                                    div.col.mb-3.pe-md-4.ps-md-5    
                                        input.form-control.form-control-lg(type="password", name="password", placeholder="Password", aria-label="Password", required=true)
                                .row.gy-2
                                    .col.d-grid.pe-md-4.ps-md-5
                                        button.btn.btn-success.btn-lg.btn-block(type="submit") Login to Your Account  
                        .col-md-6.col-sm-12.col-xs-12.mt-3
                            .row.gy-3
                                .col-md-12.mt-5.d-block.d-sm-none
                                    h2.text-center OR
                                .col.d-grid.pe-md-5.ps-md-4
                                    button.btn.btn-success.btn-lg.btn-block.mt-2(type="button") Sign in With Google 
                            .row.gy-3
                                .col.d-grid.pe-md-5.ps-md-4
                                    button.btn.btn-success.btn-lg.btn-block.mt-3(type="button") Sign in With Facebook 
                            .row.gy-3
                                .col.d-grid.pe-md-5.ps-md-4
                                    button.btn.btn-success.btn-lg.btn-block.mt-3(type="submit") Sign in With Apple Account                  
                    .row 
                        .col.text-center 
                            br/ <br>
                            p.title 
                                a(href="#/reset-password") Forgot Password?
                                  
