extends layout 

block content
    .container-fluid.primary-bg.mt-5
        .row
            .col.text-center
                h3.pt-4.mt-3 Login to Your Account
                p Choose from over 20 investment portfolios with high ROI
                p.title 
                    a(href="/signup") New Here? Sign up
        .row.mb-5 
            .col
                .container
                    .row.justify-content-md-center
                        .col-md-6.col-sm-12.col-xs-12.mt-4
                            if message
                                .alert.alert-warning= message
                            form(action="/login" method="post")
                                .row
                                    .col.mb-3.pe-md-4.ps-md-5
                                        input.form-control.form-control-lg(type="email" name="email" placeholder="Email" aria-label="Email" required=true)
                                .row
                                    .col.mb-3.pe-md-4.ps-md-5    
                                        input.form-control.form-control-lg(type="password" name="password" placeholder="Password" aria-label="Password", required=true)
                                .row.gy-2
                                    .col.d-grid.pe-md-4.ps-md-5
                                        .form-group.form-check 
                                            input.form-check-input#checkout-remember-me(type="checkbox" name="remember_me")
                                            label.form-check-label(for="checkout-remember-me") Remember me 
                                        button.btn.btn-success.btn-lg.btn-block(type="submit") Login to Your Account  
                        //- .col-md-6.col-sm-12.col-xs-12.mt-3
                        //-     .row.gy-3
                        //-         .col-md-12.mt-5.d-block.d-sm-none
                        //-             h2.text-center OR
                        //-         .col.d-grid.pe-md-5.ps-md-4
                        //-             button.btn.btn-success.btn-lg.btn-block.mt-2(type="button") Login With Google 
                        //-     .row.gy-3
                        //-         .col.d-grid.pe-md-5.ps-md-4
                        //-             button.btn.btn-success.btn-lg.btn-block.mt-3(type="button") Login With Facebook 
                        //-     .row.gy-3
                        //-         .col.d-grid.pe-md-5.ps-md-4
                        //-             button.btn.btn-success.btn-lg.btn-block.mt-3(type="submit") Login With Apple Account                  
                    .row 
                        .col.text-center 
                            br/ <br>
                            p.title 
                                a(href="/reset-password") Forgot Password?
                            br/ 



