extends layout 

block content        
    .feature-image(style="background-image: url(/images/money.jpg); background-position: bottom")
        .row
            .col

    .container
        .row.my-5.justify-content-md-center
            .col-md-9.text-center
                h3 Our Products
                p We have a diverse range of products that are highly versatile and guarante high return on investments. To have a view of the various products, scroll and click on any image to get more information. 
                //- p Investing with us is very simple, first fund your wallet, secondly, choose a product, thirdly set an amount to invest then wait till maturity to receive your ROI.

    section.recent-work-sec.section-padding.section-bg
        .container
            .row
                .col-lg-12
                    .section-title-item
                        h2.section-title
                            |  OUR PROJECTS 

            include includes/portfolios.pug


