extends layout 

block content
    .container-fluid.primary-bg.mt-5
        .row
            .col.text-center
                h3.pt-4.mt-3 Reset Your Password
                p Enter the email you registered with, and we'll send you a password reset link

        .row.mb-5 
            .col
                .container
                    .row.justify-content-md-center
                        .col-md-6.col-sm-12.col-xs-12.mt-4
                            if message
                                .alert.alert-warning= message
                            form(action="/send-reset-email" method="post")
                                .row
                                    .col.mb-3.pe-md-4.ps-md-5
                                        input.form-control.form-control-lg(type="email" name="email" placeholder="Your email" aria-label="Email" required=true)

                                .row.gy-2
                                    .col.d-grid.pe-md-4.ps-md-5
                                        button.btn.btn-success.btn-lg.btn-block(type="submit") Email me a reset link           
                    .row 
                        .col.text-center 
                            br/ <br>
                            p.title 
                                a(href="/login") Go back to login
                            br/ 



