extends layout 

block content        
    .feature-image(style="background-image: url(/images/cog-wheels.jpg);")
        .container
            .row
                .col
                    h1.text-white(style="margin-top: 160px") Our People are<br> our greatest<br> assets...
    .py-5.mt-5
        .container
            .row.mb-5
                .col.text-center
                    h2 Our Team
            .row
                .col-md-4.col-xs-12.mt-2
                    .team-photo
                        img(src='images/Collins_Akalonu.jpg')
                    .team-details Collins Akalonu
                        br/ Product Owner
                .col-md-4.col-xs-12.mt-2
                    .team-photo
                        img(src='images/Oluyemi_Olu_Adeniran.jpg')
                    .team-details 
                        Oluyemi Olu-Adeniran
                        br/ Product Lead
                .col-md-4.col-xs-12.mt-2
                    .team-photo
                        img(src='images/Romana_Munyavi.jpg')
                    .team-details Romana Munyavi
                        br/ Digital Business Analyst
            .row
                .col-md-4.col-xs-12.mt-2
                    .team-photo
                        img(src='images/Roseline_Adekunle.jpg')
                    .team-details Roseline Adekunle
                .col-md-4.col-xs-12.mt-2
                    .team-photo
                        img(src='images/Wasilat_Elegbede.jpg')
                    .team-details Wasilat Elegbede
                        br/ Agile Project Manager
                .col-md-4.col-xs-12.mt-2
                    .team-photo
                        img(src='images/Victorine_Nonjang.jpg')
                    .team-details Victorine Nonjang
                        br/ Digital Business Intelligence Analyst

                        
        