.item {
    height: 150px;
    /* padding: 15px; */
    background-size: cover;
    border: 1px #f8f8f8 solid;
    cursor: pointer;
    position: relative;
}

.item-label {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.5);
}

.item-label p {
    margin: 0 !important;
    color: #fff;
}

.portfolio-details {
    line-height: 38px;
    font-size: 18px
}

.owl-carousel a {
    text-decoration: none;
    font-weight: bold;
}