extends layout 

block styleBlock 
    link(rel='stylesheet' href='/stylesheets/owl.carousel.min.css')
    link(rel='stylesheet' href='/stylesheets/owl.theme.default.min.css')

block content
    section.content-header
        h1 Dashboard

    // Main content
    section.content
        .row
            .col-md-12
                .box
                    .box-header.with-border
                        h3.box-title Your Portfolio At a Glance

                        .row 
                            .col-md-12
                                h3 
                                include includes/user_investment.pug



block scriptBlock
    script(src="/javascripts/owl.carousel.min.js")  
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js")

    script. 
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:13,
                responsiveClass:true,
                nav: true,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:3,
                        nav:false
                    },
                    1000:{
                        items:4,
                        nav:true,
                    }
                }
            });

            $(".dial").knob();
        });