html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Gilroy-Light ☞';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gilroy-ExtraBold ☞';
}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.btn-success {
    background-color: #143C2F;
    border-color: #143C2F ;
}

.primary-bg {
    background: #329337;
}

.primary-bg a:link {
    color: #fff;
}

.primary-bg a:visited {
    color: #fff;
}

.secondary-bg {
    background: #329337;
}

.text-green {
    color: #007f4b;
}

.text-white {
    color: #fff;
}

.feature {
    position: relative;
}

.feature-text {
    position: absolute;
    left: 40%;
    /* top: 50%; */
    transform: translate(-30%, 38%);
    z-index: 20;
}

.feature-text h1 {
    margin-top: 100px;
    font-size: 55px;
}

.feature-image {
    height: 80vh;
    background-size: cover;
}

video {
    width: 100%;
}

.page-header-title {
    height: 20vh;
    background-image: url(../images/sec1.png);
    background-size: cover;
}

.how-it-works {
    background-image: url(../images/sec1.png);
    background-size: cover;
    padding: 70px 60px 30px;
}

.caption {
    font-weight: bold;
    position: relative;
    top: 90px;
    color: #fff;
    z-index: 10;
}

.modus .caption {
    left: 68px;
    top: 49px;
    font-size: 25px;
}

.triangle {
    position: relative;
    display: inline-block;
    border-style: solid;
    border-width: 78px 72px 0 72px;
    border-color: #329337 transparent transparent transparent;
    z-index: 8;
}

.how-it-works .triangle {
    top: 55px;
}

.button-right {
    float: left;
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    cursor: pointer;
    border-left: 30px solid #329337;
}

.button-left {
    float: right;
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    cursor: pointer;
    border-right:30px solid #fff; 
}

.inner-text {
    background: #fff;
    padding: 50px 20px;
    padding-top: 70px;
    height: 300px;
    /* transition: transform .2s ease-out; */
}

/* .inner-text:hover {
    transform: scale(1.05);
} */

.about-features {
    background-image: url(../images/tractor.png);
    background-size: cover;
}

.risks img {
    width: 65%
}

.projects {
    padding: 50px 30px;
}

/* .project {
    color: #fff;
    padding: 10px;
} */

.goal {
    padding: 5px 5px 1px 10px;
    border-bottom-right-radius: 30px;
    font-family: 'Gilroy-ExtraBold ☞';
    font-size: 13px;
    color: #000;
    border: 1px solid #007f4b
}

.goal-caption {
    background: #007f4b;
    color: #fff;
    font-family: 'Gilroy-ExtraBold ☞';
    font-size: 20px;
    padding-top: 5px;
    padding-left: 52px;
    border-bottom-left-radius: 30px;
}

.project p {
    line-height: 13px;
    font-size: 13px;
}

.project-img img {
    width: 100%;

}

.why-invest {
    border: 3px solid #329337;
    color: #329337;
    padding: 40px;
    transition: transform .2s ease-out;
}

.why-invest span {
    color: #333;
}

.why-invest:hover {
    transform: scale(1.05);
}

.details {
    padding: 15px;
    text-align: left;
    color: #fff;
}

.testimony {
   background-image: url(../images/blackwoman.png);
   background-repeat: no-repeat; 
   background-position: 98% -20px;
   background-color: #329337;
   opacity: 1;
   color:#fff;
}

.project {
    border: #ccc solid 1px;
    padding: 0;
    transition: transform .2s ease-out;
}

.project-photo {
    background-size: cover;
    height: 160px;
}

.project:hover {
    transform: scale(1.05);
}

.project-details {
    padding: 10px;
    font-size: 15px;
    line-height: 26px;
}

.team-photo {
    margin-top: 20px;
}

.team-photo img {
    width: 100%;
}

.team-details {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background: #007f4b;
}

.team-details a {
    text-decoration: none;
    color: #fff;
}

.faq {
    background-image: url(../images/wheat.png);
}

.auth_bg {
    background: #adb1ad;
    color: #fff;
}

.signup-bg {
    background-image: url(../images/tractor.png);
    background-size: cover;
}

.accordion-item, .accordion-button {
    background-color: transparent;
    border: none;
}

.accordion-button:not(.collapsed) {
    color: inherit;
}

#slide2 {
    opacity: 0;
    animation: fade-in 0.5s ease-in;
}

.footer-risk p {
    font-size: 18px;
    font-weight: bold;
}

@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fade-out {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.bounce:hover {
  animation: bounce 2s ease;
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	30% {transform: translateY(-80px);}
	60% {transform: translateY(-35px);}
    /* 20% {transform: translateY(-20px);} */
}

/***
    Tablets
*/
@media (max-width: 768px) { 
    .feature-text h1 {
        margin-top: 0;
    }
}

/***
    Mobile
*/
@media (max-width: 576px) {
    .feature-text h1 {
        font-size: 26px;
        margin-top: -22px;
    }

    .modus .caption {
        left: 0;
    }
}